# Dependencies
node_modules
.pnpm-store

# Build outputs
dist
.next
out
build

# Turbo
.turbo

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE
.idea
.vscode
*.swp
*.swo
.DS_Store

# Testing
coverage
*.lcov

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Misc
*.tsbuildinfo
*.tgz
.cache

# Prisma
prisma/generated
packages/database/generated
**/generated/client
